<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_KqK88R9xbEUv2hkDW6Yfrh91avocT-0</string>
	<key>GCM_SENDER_ID</key>
	<string>3599123419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soundSphere</string>
	<key>PROJECT_ID</key>
	<string>soundsphere-39fd0</string>
	<key>STORAGE_BUCKET</key>
	<string>soundsphere-39fd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3599123419:ios:d62084335ab9a444445dfe</string>
</dict>
</plist>